tutorial/vfc/Production-Copilot-Tutorial.vfc-sample-flow.json
[{"id":"871259a3.781e68","type":"tab","allowCycles":false,"label":"CopilotTutorial","disabled":false,"info":""},{"id":"2023669e.bec04a","type":"combine","z":"871259a3.781e68","name":"","triggers":"1,0,0","inputs":"3","timeseries":false,"waitall":false,"reset":false,"x":980,"y":200,"wires":[["7e4876d0.513a18","f9ae446f.bdf768"]]},{"id":"e32269a.3305298","type":"comment","z":"871259a3.781e68","name":"GetPlantStatus skill","info":"","sticky":2,"x":170,"y":60,"wires":[]},{"id":"13d0e8ac.b04387","type":"comment","z":"871259a3.781e68","name":"GetEvents skill","info":"","sticky":2,"x":170,"y":420,"wires":[]},{"id":"8d8277d8.fc3098","type":"comment","z":"871259a3.781e68","name":"GetCases skill","info":"","sticky":2,"x":170,"y":760,"wires":[]},{"id":"c97abfe6.7d08e","type":"comment","z":"871259a3.781e68","name":"GetEnergyCost skill","info":"","sticky":2,"x":170,"y":1080,"wires":[]},{"id":"f9ae446f.bdf768","type":"debug","z":"871259a3.781e68","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":1200,"y":260,"wires":[]},{"id":"95a70bab.037ff8","type":"debug","z":"871259a3.781e68","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":920,"y":560,"wires":[]},{"id":"6d21781.2532288","type":"debug","z":"871259a3.781e68","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":920,"y":900,"wires":[]},{"id":"3af99abd.64cbd6","type":"debug","z":"871259a3.781e68","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":900,"y":1220,"wires":[]},{"id":"488af6ac.f2a518","type":"function","z":"871259a3.781e68","name":"Translate Status","func":"const assetName = 'Stencil printer';\n\nconst statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":720,"y":140,"wires":[["2023669e.bec04a"]]},{"id":"b527ea85.2ca488","type":"function","z":"871259a3.781e68","name":"Translate Status","func":"const assetName = 'SPI machine';\n\nconst statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":720,"y":200,"wires":[["2023669e.bec04a:1"]]},{"id":"80c3452c.4b0ab8","type":"function","z":"871259a3.781e68","name":"Translate Status","func":"const assetName = 'SMT placing';\n\nconst statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":720,"y":260,"wires":[["2023669e.bec04a:2"]]},{"id":"5a06b2d9.12df7c","type":"function","z":"871259a3.781e68","name":"Filter","func":"const statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\n// remove info events\nconst inputArray  = msg.payload.filter(item => item.severity !== 40);\n \n// limit to 50 messages\nconst limitedArray = inputArray.slice(0, 50);\n\n// select the interesting fields, and map codes to text\nconst resultArray = limitedArray.map(item => ({\n    timestamp: item.timestamp,\n    description: item.description,\n    severity: statuses[item.severity]\n}));\n\n\nmsg.payload = resultArray;\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":690,"y":500,"wires":[["b3147198.f90f3","95a70bab.037ff8"]]},{"id":"ffb5c0e9.cc147","type":"function","z":"871259a3.781e68","name":"Filter","func":"const statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\n// limit to 50 \nconst limitedArray = msg.payload.slice(0, 50);\n\n// select the interesting fields\nconst resultArray = limitedArray.map(item => ({\n    createdDate: item.createdDate,\n    title: item.title,\n    type: item.type,\n    priority: item.priority,\n    description: item.description,\n    handle: item.handle\n}));\n\nmsg.payload = resultArray;\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":690,"y":840,"wires":[["2522eff4.cd76a","6d21781.2532288"]]},{"id":"558e6600.5028ac","type":"function","z":"871259a3.781e68","name":"Extract market price","func":"var data = msg.payload.data;\n\nif (data && data.length > 0) {\n    // in case rate limiting kicks in, use replacement value\n    if (data[0].marketprice === \"Too many requests\") {\n        msg.payload = '233 Eur/MWh';\n    }\n    else {\n        msg.payload = data[0].marketprice + ' Eur/MWh';\n    }\n} else {\n    // in case the http call failed use replacement value\n    msg.payload = '234 Eur/MWh';\n}\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":650,"y":1160,"wires":[["6fa6595a.111f88","3af99abd.64cbd6"]],"_type":"node"},{"id":"e44c0218.18fa3","type":"http in","z":"871259a3.781e68","name":"GetPlantStatus","endpoint":"/GetPlantStatus","method":"get","upload":false,"access":"key","key":"xxx","users":"","powerMode":false,"x":190,"y":140,"wires":[["67de2312.0521bc","aad93473.10b338","45679746.865e38"]]},{"id":"312d42e.04548be","type":"http in","z":"871259a3.781e68","name":"GetEvents","endpoint":"/GetEvents","method":"get","upload":false,"access":"key","key":"xxx","users":"","powerMode":false,"x":180,"y":500,"wires":[["aa0eec06.7e78a"]]},{"id":"236e0db4.efde92","type":"http in","z":"871259a3.781e68","name":"GetCases","endpoint":"/GetCases","method":"get","upload":false,"access":"key","key":"xxx","users":"","powerMode":false,"x":180,"y":840,"wires":[["d1d252e8.63725"]]},{"id":"de5f73f3.61477","type":"http in","z":"871259a3.781e68","name":"GetEnergyCost","endpoint":"/GetEnergyCost","method":"get","upload":false,"access":"key","key":"xxx","users":"","powerMode":false,"x":160,"y":1160,"wires":[["ac95a1db.4f59e"]]},{"id":"ac95a1db.4f59e","type":"http request","z":"871259a3.781e68","name":"","method":"GET","ret":"obj","url":"https://api.corrently.io/v2.0/marketdata?zip=76189&token=xxx","timeout":"20","mindspherePath":"","useMindsphereAuth":false,"isAdmin":false,"secretHeaders":"","x":430,"y":1160,"wires":[["558e6600.5028ac"]],"_type":"node"},{"id":"7e4876d0.513a18","type":"http response","z":"871259a3.781e68","name":"http response","statusCode":"","headers":{},"x":1200,"y":200,"wires":[]},{"id":"b3147198.f90f3","type":"http response","z":"871259a3.781e68","name":"http response","statusCode":"","headers":{},"x":920,"y":500,"wires":[]},{"id":"2522eff4.cd76a","type":"http response","z":"871259a3.781e68","name":"http response","statusCode":"","headers":{},"x":920,"y":840,"wires":[]},{"id":"6fa6595a.111f88","type":"http response","z":"871259a3.781e68","name":"http response","statusCode":"","headers":{},"x":900,"y":1160,"wires":[]},{"id":"8bfbe424.73bfd8","type":"inject","z":"871259a3.781e68","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":180,"y":180,"wires":[["67de2312.0521bc","aad93473.10b338","45679746.865e38"]]},{"id":"8cf60c62.57de4","type":"inject","z":"871259a3.781e68","name":"set status","topic":"","payload":"50","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1520,"y":140,"wires":[["a5b97d96.5fd5c"]]},{"id":"f2e3ff8.1956e","type":"inject","z":"871259a3.781e68","name":"set status","topic":"","payload":"50","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1520,"y":200,"wires":[["21054f9c.46fa8"]]},{"id":"235370cf.5f6f7","type":"inject","z":"871259a3.781e68","name":"set status","topic":"","payload":"20","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1520,"y":260,"wires":[["92e805ea.26bac8"]]},{"id":"6feee2d.72b6a1c","type":"inject","z":"871259a3.781e68","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":160,"y":560,"wires":[["aa0eec06.7e78a"]]},{"id":"1b524c3b.220854","type":"inject","z":"871259a3.781e68","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":160,"y":900,"wires":[["d1d252e8.63725"]]},{"id":"7c295b9c.242a44","type":"inject","z":"871259a3.781e68","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":160,"y":1220,"wires":[["ac95a1db.4f59e"]]},{"id":"d1d252e8.63725","type":"list-work-orders","z":"871259a3.781e68","name":"Get cases","handle":"","x":420,"y":840,"wires":[["ffb5c0e9.cc147"]]},{"id":"aa0eec06.7e78a","type":"read events","z":"871259a3.781e68","name":"Get Events","asset":"","assetName":"","severity":"","acknowledged":"","period":"1440","mode":"relative","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"thoroughly":false,"x":430,"y":500,"wires":[["5a06b2d9.12df7c"]]},{"id":"67de2312.0521bc","type":"read-static","z":"871259a3.781e68","name":"GetState - Stencil Printer","topic":"cde125606a8a46e1bff0a26af6e9b520/status/health","topicLabel":"01 - Stencil Printer/status/health","topicData":"{\"asset\":\"cde125606a8a46e1bff0a26af6e9b520\",\"assetName\":\"01 - Stencil Printer\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":470,"y":140,"wires":[["488af6ac.f2a518"]]},{"id":"aad93473.10b338","type":"read-static","z":"871259a3.781e68","name":"GetState - SPI machine","topic":"e1b5e5ba94fd49009c726e7b30b1f3ab/status/health","topicLabel":"02 - SPI/status/health","topicData":"{\"asset\":\"e1b5e5ba94fd49009c726e7b30b1f3ab\",\"assetName\":\"02 - SPI\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":460,"y":200,"wires":[["b527ea85.2ca488"]]},{"id":"45679746.865e38","type":"read-static","z":"871259a3.781e68","name":"GetState - SMT placing","topic":"26a76a1e8d8f48d791fc4ded12e39686/status/health","topicLabel":"03 - SMT Placing Machine/status/health","topicData":"{\"asset\":\"26a76a1e8d8f48d791fc4ded12e39686\",\"assetName\":\"03 - SMT Placing Machine\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":460,"y":260,"wires":[["80c3452c.4b0ab8"]]},{"id":"21054f9c.46fa8","type":"write-static","z":"871259a3.781e68","name":"Simulate SPI machine","topic":"e1b5e5ba94fd49009c726e7b30b1f3ab/status/health","topicLabel":"02 - SPI/status/health","topicData":"{\"asset\":\"e1b5e5ba94fd49009c726e7b30b1f3ab\",\"assetName\":\"02 - SPI\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1760,"y":200,"wires":[]},{"id":"a5b97d96.5fd5c","type":"write-static","z":"871259a3.781e68","name":"Simulate Stencil printer","topic":"cde125606a8a46e1bff0a26af6e9b520/status/health","topicLabel":"01 - Stencil Printer/status/health","topicData":"{\"asset\":\"cde125606a8a46e1bff0a26af6e9b520\",\"assetName\":\"01 - Stencil Printer\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1760,"y":140,"wires":[]},{"id":"92e805ea.26bac8","type":"write-static","z":"871259a3.781e68","name":"Simulate SMT placing","topic":"26a76a1e8d8f48d791fc4ded12e39686/status/health","topicLabel":"03 - SMT Placing Machine/status/health","topicData":"{\"asset\":\"26a76a1e8d8f48d791fc4ded12e39686\",\"assetName\":\"03 - SMT Placing Machine\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1760,"y":260,"wires":[]},{"id":"52e77f6.bfe9e8","type":"create event","z":"871259a3.781e68","name":"Simulate event","asset":"26a76a1e8d8f48d791fc4ded12e39686","assetName":"03 - SMT Placing Machine","severity":"30","acknowledged":"false","description":"Front gearbox vibration problem","x":1520,"y":500,"wires":[],"_type":"node"},{"id":"8cafae4.047ad5","type":"inject","z":"871259a3.781e68","name":"Simulate","topic":"","payload":"","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1343.7778015136719,"y":503.22220611572266,"wires":[["52e77f6.bfe9e8"]],"_type":"node"},{"id":"14387857.bb5bb8","type":"create-work-order","z":"871259a3.781e68","name":"Create Case","title":"\"test\"","description":"\"test\"","assignedTo":"","dueDate":"2024-10-10","datetimepickerDueDate":"2024-10-10","orderStatus":"OPEN","priority":"LOW","orderType":"PLANNED","asset":"","assetName":"","fileAsset":"","fileName":"","x":670,"y":1460,"wires":[["79e913d1.a0deac","e4146d22.0f885"]]},{"id":"79e913d1.a0deac","type":"debug","z":"871259a3.781e68","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":900,"y":1520,"wires":[],"_type":"node"},{"id":"bba4e5ec.cb8ff8","type":"function","z":"871259a3.781e68","name":"Extract Parameters","func":"const title = msg.payload.title.substring(0,30);\nconst description = msg.payload.description.substring(0,200);\nconst currentDate = new Date();\n\nmsg.payload = {\n    title: title,\n    description: description,\n    status: \"Open\",\n    priority: \"MEDIUM\",\n    type: \"Planned\",\n    dueDate: currentDate.toISOString()\n};\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":390,"y":1460,"wires":[["14387857.bb5bb8"]]},{"id":"ceae9082.3a41b","type":"http in","z":"871259a3.781e68","name":"CreateNewCase","endpoint":"/CreateNewCase","method":"post","upload":false,"access":"key","key":"xxx","users":"","powerMode":false,"x":160,"y":1420,"wires":[["bba4e5ec.cb8ff8"]],"_type":"node"},{"id":"e4146d22.0f885","type":"http response","z":"871259a3.781e68","name":"http response","statusCode":"","headers":{},"x":900,"y":1460,"wires":[]},{"id":"f34fe55a.3e0df8","type":"inject","z":"871259a3.781e68","name":"manual trigger","topic":"","payload":"{\"title\":\"demo title\",\"description\":\"demo description\"}","payloadType":"json","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":160,"y":1480,"wires":[["bba4e5ec.cb8ff8"]]},{"id":"42941abb.9ea1b4","type":"comment","z":"871259a3.781e68","name":"CreateNewCase skill","info":"","sticky":2,"x":150,"y":1360,"wires":[],"_type":"node"}]