tutorial/vfc/Production-Copilot-Tutorial.vfc-sample-flow.json
[{"id":"e1f2d78c.c95478","type":"tab","allowCycles":false,"label":"CopilotTutorial","disabled":false,"info":""},{"id":"e6875b4f.3f9c78","type":"catch","z":"e1f2d78c.c95478","name":"","scope":["c526fab.e6d8408","4c89296b.310458","95a2bf1a.03f53"],"x":440,"y":180,"wires":[["88300bcf.b58d48","b05cdca3.0f0ab"]],"_type":"node"},{"id":"562b794a.b29538","type":"combine","z":"e1f2d78c.c95478","name":"","triggers":"1,1,1","inputs":"3","timeseries":false,"waitall":true,"reset":true,"x":960,"y":100,"wires":[["a4820ad5.262f58","e4cfd348.449bf"]]},{"id":"b11d1453.a92908","type":"comment","z":"e1f2d78c.c95478","name":"GetEvents skill","info":"","sticky":2,"x":150,"y":300,"wires":[]},{"id":"e137a2ce.4c23","type":"comment","z":"e1f2d78c.c95478","name":"GetCases skill","info":"","sticky":2,"x":150,"y":480,"wires":[]},{"id":"92508b3.1606f78","type":"comment","z":"e1f2d78c.c95478","name":"GetEnergyCost skill","info":"","sticky":2,"x":130,"y":680,"wires":[]},{"id":"1294d9f5.f97a26","type":"comment","z":"e1f2d78c.c95478","name":"CreateNewCase skill","info":"","sticky":2,"x":130,"y":900,"wires":[]},{"id":"deae4225.3b9f2","type":"comment","z":"e1f2d78c.c95478","name":"GetPlantStatus skill","info":"","sticky":2,"x":190,"y":20,"wires":[]},{"id":"627f70f4.3ad96","type":"create event","z":"e1f2d78c.c95478","name":"Simulate event","asset":"1d22c207ccb34957962df3a005b2c89d","assetName":"01 - Stencil Printer","severity":"30","acknowledged":"false","description":"Front gearbox vibration problem","x":1640,"y":320,"wires":[]},{"id":"47980e6f.9fa5f","type":"create-work-order","z":"e1f2d78c.c95478","name":"Create Case","title":"\"test\"","description":"\"test\"","assignedTo":"","dueDate":"2024-10-10","datetimepickerDueDate":"2024-10-10","orderStatus":"OPEN","priority":"LOW","orderType":"PLANNED","asset":"","assetName":"","fileAsset":"","fileName":"","x":650,"y":940,"wires":[["971e0cb5.38f34","91171bd3.b50f08"]]},{"id":"8fcf62cf.54e42","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":880,"y":380,"wires":[]},{"id":"2ea1481d.6855d8","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":880,"y":560,"wires":[]},{"id":"e3d72a85.8ecaa8","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":880,"y":760,"wires":[]},{"id":"971e0cb5.38f34","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":880,"y":980,"wires":[]},{"id":"68b616d2.c9f8f8","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":400,"y":300,"wires":[]},{"id":"10c5d701.ebfeb9","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":400,"y":480,"wires":[]},{"id":"74b5a737.45e838","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":400,"y":680,"wires":[]},{"id":"2add9f43.5f8bb","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":400,"y":900,"wires":[]},{"id":"a4820ad5.262f58","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"true","x":1180,"y":220,"wires":[],"_type":"node"},{"id":"bf7f1c17.a8f85","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"payload","x":460,"y":20,"wires":[]},{"id":"b05cdca3.0f0ab","type":"debug","z":"e1f2d78c.c95478","name":"debug output","active":true,"console":"false","xaxis":"_time","complete":"true","x":740,"y":220,"wires":[],"_type":"node"},{"id":"2f95f7b9.4baa98","type":"function","z":"e1f2d78c.c95478","name":"Filter","func":"const statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\n// remove info events\nconst inputArray  = msg.payload.filter(item => item.severity !== 40);\n \n// limit to 50 messages\nconst limitedArray = inputArray.slice(0, 50);\n\n// select the interesting fields, and map codes to text\nconst resultArray = limitedArray.map(item => ({\n    timestamp: item.timestamp,\n    description: item.description,\n    severity: statuses[item.severity]\n}));\n\n\nmsg.payload = resultArray;\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":650,"y":340,"wires":[["8fcf62cf.54e42","6b421984.7a34c8"]]},{"id":"b0548215.8ad82","type":"function","z":"e1f2d78c.c95478","name":"Filter","func":"const statuses = {\n    0: 'unknown status',\n    20: 'error',\n    30: 'warning',\n    40: 'information',\n    50: 'OK'\n};\n\n// limit to 50 \nconst limitedArray = msg.payload.slice(0, 50);\n\n// select the interesting fields\nconst resultArray = limitedArray.map(item => ({\n    createdDate: item.createdDate,\n    title: item.title,\n    type: item.type,\n    priority: item.priority,\n    description: item.description,\n    handle: item.handle\n}));\n\nmsg.payload = resultArray;\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":650,"y":520,"wires":[["2ea1481d.6855d8","57f5ccb8.8a68a4"]]},{"id":"bb3c044a.3f4048","type":"function","z":"e1f2d78c.c95478","name":"Extract market price","func":"var data = msg.payload.data;\n\nif (data && data.length > 0) {\n    // in case rate limiting kicks in, use replacement value\n    if (data[0].marketprice === \"Too many requests\") {\n        msg.payload = '233 Eur/MWh';\n    }\n    else {\n        msg.payload = data[0].marketprice + ' Eur/MWh';\n    }\n} else {\n    // in case the http call failed use replacement value\n    msg.payload = '234 Eur/MWh';\n}\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":650,"y":720,"wires":[["e3d72a85.8ecaa8","2f41f828.bd24b8"]]},{"id":"5bbb9aa2.4a7724","type":"function","z":"e1f2d78c.c95478","name":"Extract Parameters","func":"const title = msg.payload.title.substring(0,30);\nconst description = msg.payload.description.substring(0,200);\nconst currentDate = new Date();\n\nmsg.payload = {\n    title: title,\n    description: description,\n    status: \"Open\",\n    priority: \"MEDIUM\",\n    type: \"Planned\",\n    dueDate: currentDate.toISOString()\n};\n\nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":410,"y":940,"wires":[["47980e6f.9fa5f"]]},{"id":"895fdf25.bc288","type":"function","z":"e1f2d78c.c95478","name":"Translate Status","func":"const assetName = 'Stencil printer';\n\nconst statuses = {\n    0: '❔ unknown status',\n    20: '❌  ERROR',\n    30: '⚠️   Warning',\n    40: 'ⓘ  Information',\n    50: '✅  Operational'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":740,"y":60,"wires":[["562b794a.b29538"]]},{"id":"220dc68.fde7f3a","type":"function","z":"e1f2d78c.c95478","name":"Translate Status","func":"const assetName = 'SPI machine';\n\nconst statuses = {\n    0: '❔ unknown status',\n    20: '❌  ERROR',\n    30: '⚠️   Warning',\n    40: 'ⓘ  Information',\n    50: '✅  Operational'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":740,"y":100,"wires":[["562b794a.b29538:1"]]},{"id":"56c061bc.278e3","type":"function","z":"e1f2d78c.c95478","name":"Translate Status","func":"const assetName = 'SMT placing';\n\nconst statuses = {\n    0: '❔ unknown status',\n    20: '❌  ERROR',\n    30: '⚠️   Warning',\n    40: 'ⓘ  Information',\n    50: '✅  Operational'\n};\n\nconst assetStatus = statuses[msg.payload.health];\n\nmsg.payload = assetName + ': ' + assetStatus;\n              \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":740,"y":140,"wires":[["562b794a.b29538:2"]]},{"id":"36d49b4f.11d874","type":"http request","z":"e1f2d78c.c95478","name":"GET real market price","method":"GET","ret":"obj","url":"https://api.corrently.io/v2.0/marketdata?zip=76189&token=xyz","timeout":"20","mindspherePath":"","useMindsphereAuth":false,"isAdmin":false,"secretHeaders":"","x":420,"y":720,"wires":[["bb3c044a.3f4048"]]},{"id":"93ea40cb.7894d","type":"inject","z":"e1f2d78c.c95478","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":140,"y":380,"wires":[["4150f798.a34038"]]},{"id":"78ab4ad0.35d094","type":"inject","z":"e1f2d78c.c95478","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":140,"y":560,"wires":[["d4a19d76.2b4e6"]]},{"id":"e39f7a11.d86bd8","type":"inject","z":"e1f2d78c.c95478","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":140,"y":760,"wires":[["36d49b4f.11d874"]]},{"id":"305d3557.a2331a","type":"inject","z":"e1f2d78c.c95478","name":"Simulate","topic":"","payload":"","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1460,"y":320,"wires":[["627f70f4.3ad96"]]},{"id":"5e03671c.247ff8","type":"inject","z":"e1f2d78c.c95478","name":"manual trigger","topic":"","payload":"{\"title\":\"demo title\",\"description\":\"demo description\"}","payloadType":"json","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":140,"y":980,"wires":[["5bbb9aa2.4a7724"]]},{"id":"d4265501.b95f08","type":"inject","z":"e1f2d78c.c95478","name":"manual trigger","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":200,"y":100,"wires":[["95a2bf1a.03f53","4c89296b.310458"]]},{"id":"4b86a593.761a2c","type":"inject","z":"e1f2d78c.c95478","name":"set status","topic":"","payload":"50","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1460,"y":80,"wires":[["39d9fe58.ccc692"]]},{"id":"3cb5ad46.ed6e72","type":"inject","z":"e1f2d78c.c95478","name":"set status","topic":"","payload":"50","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1460,"y":120,"wires":[["7e18d3e2.ac478c"]]},{"id":"757b5405.1b532c","type":"inject","z":"e1f2d78c.c95478","name":"set status","topic":"","payload":"30","payloadType":"num","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"NaN","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":1460,"y":160,"wires":[["2ce2c4d7.1ab23c"]]},{"id":"d4a19d76.2b4e6","type":"list-work-orders","z":"e1f2d78c.c95478","name":"Get cases","handle":"","x":380,"y":520,"wires":[["b0548215.8ad82"]]},{"id":"4150f798.a34038","type":"read events","z":"e1f2d78c.c95478","name":"Get Events","asset":"","assetName":"","severity":"","acknowledged":"","period":"1440","mode":"relative","from":"","datetimepickerFrom":"","to":"","datetimepickerTo":"","timezoneoffset":0,"thoroughly":false,"x":390,"y":340,"wires":[["2f95f7b9.4baa98"]]},{"id":"95a2bf1a.03f53","type":"read-static","z":"e1f2d78c.c95478","name":"GetState - Stencil Printer","topic":"1d22c207ccb34957962df3a005b2c89d/status/health","topicLabel":"01 - Stencil Printer/status/health","topicData":"{\"asset\":\"1d22c207ccb34957962df3a005b2c89d\",\"assetName\":\"01 - Stencil Printer\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":490,"y":60,"wires":[["895fdf25.bc288"]]},{"id":"4c89296b.310458","type":"read-static","z":"e1f2d78c.c95478","name":"GetState - SPI machine","topic":"bb3a49e9e2ca44399f6266bf6a3514d5/status/health","topicLabel":" 02 - SPI/status/health","topicData":"{\"asset\":\"bb3a49e9e2ca44399f6266bf6a3514d5\",\"assetName\":\" 02 - SPI\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":480,"y":100,"wires":[["220dc68.fde7f3a"]]},{"id":"c526fab.e6d8408","type":"read-static","z":"e1f2d78c.c95478","name":"GetState - SMT placing","topic":"654ed7ea2959458aab7c03c193a8f26c/status/health","topicLabel":" 03 - SMT Placing Machine/status/health","topicData":"{\"asset\":\"654ed7ea2959458aab7c03c193a8f26c\",\"assetName\":\" 03 - SMT Placing Machine\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":480,"y":140,"wires":[[]]},{"id":"6b421984.7a34c8","type":"skills-response","z":"e1f2d78c.c95478","name":"","x":870,"y":340,"wires":[]},{"id":"57f5ccb8.8a68a4","type":"skills-response","z":"e1f2d78c.c95478","name":"","x":870,"y":520,"wires":[]},{"id":"2f41f828.bd24b8","type":"skills-response","z":"e1f2d78c.c95478","name":"","x":870,"y":720,"wires":[]},{"id":"91171bd3.b50f08","type":"skills-response","z":"e1f2d78c.c95478","name":"","x":870,"y":940,"wires":[]},{"id":"e4cfd348.449bf","type":"skills-response","z":"e1f2d78c.c95478","name":"","x":1170,"y":180,"wires":[]},{"id":"543e7f56.5bf85","type":"skills-trigger","z":"e1f2d78c.c95478","name":"TutorialGetEvents","key":"TutorialGetEvents","x":140,"y":340,"wires":[["4150f798.a34038","68b616d2.c9f8f8"]]},{"id":"3d23c792.ffd948","type":"skills-trigger","z":"e1f2d78c.c95478","name":"TutorialGetCases","key":"TutorialGetCases","x":140,"y":520,"wires":[["d4a19d76.2b4e6","10c5d701.ebfeb9"]]},{"id":"59b25f87.024d4","type":"skills-trigger","z":"e1f2d78c.c95478","name":"TutorialGetEnergyCost","key":"TutorialGetEnergyCost","x":120,"y":720,"wires":[["36d49b4f.11d874","74b5a737.45e838"]]},{"id":"4c0b7251.e9a4bc","type":"skills-trigger","z":"e1f2d78c.c95478","name":"TutorialCreateNewCase","key":"TutorialCreateNewCase","x":120,"y":940,"wires":[["5bbb9aa2.4a7724","2add9f43.5f8bb"]]},{"id":"6bc27707.53bca8","type":"skills-trigger","z":"e1f2d78c.c95478","name":"TutorialGetPlantStatus","key":"TutorialGetPlantStatus","x":180,"y":60,"wires":[["95a2bf1a.03f53","4c89296b.310458","bf7f1c17.a8f85"]]},{"id":"7e18d3e2.ac478c","type":"write-static","z":"e1f2d78c.c95478","name":"Simulate SPI machine","topic":"bb3a49e9e2ca44399f6266bf6a3514d5/status/health","topicLabel":" 02 - SPI/status/health","topicData":"{\"asset\":\"bb3a49e9e2ca44399f6266bf6a3514d5\",\"assetName\":\" 02 - SPI\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1660,"y":120,"wires":[]},{"id":"39d9fe58.ccc692","type":"write-static","z":"e1f2d78c.c95478","name":"Simulate Stencil printer","topic":"1d22c207ccb34957962df3a005b2c89d/status/health","topicLabel":"01 - Stencil Printer/status/health","topicData":"{\"asset\":\"1d22c207ccb34957962df3a005b2c89d\",\"assetName\":\"01 - Stencil Printer\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1660,"y":80,"wires":[]},{"id":"2ce2c4d7.1ab23c","type":"write-static","z":"e1f2d78c.c95478","name":"Simulate SMT placing","topic":"654ed7ea2959458aab7c03c193a8f26c/status/health","topicLabel":" 03 - SMT Placing Machine/status/health","topicData":"{\"asset\":\"654ed7ea2959458aab7c03c193a8f26c\",\"assetName\":\" 03 - SMT Placing Machine\",\"aspect\":\"status\",\"aspectName\":\"status\",\"variables\":[{\"name\":\"health\",\"variableId\":\"health\"}]}","assetName":"","aspectName":"","x":1660,"y":160,"wires":[]},{"id":"88300bcf.b58d48","type":"function","z":"e1f2d78c.c95478","name":"Return error message","func":"msg.payload = \"Error occured - Please check the nodes in your VFC Flow,\"; \nreturn msg;","outputs":1,"language":"javascript","noerr":0,"x":760,"y":180,"wires":[["a4820ad5.262f58","e4cfd348.449bf"]],"_type":"node"}]